@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .link {
    @apply
      flex
      items-center
      p-4
      text-[16px]
      font-bold
      text-color
      hover:text-primary;
  }

  .link--negative {
    @apply
      flex
      items-center
      p-4
      text-[16px]
      font-bold
      text-color
      hover:text-primary
      xl:text-light
      xl:hover:text-white
  }

  .btn,
  .btn--outline,
  .btn--outline--negative {
    @apply
      max-h-[46px]
      lg:max-h-[52px]
      flex
      justify-center
      text-[15px]
      min-w-[150px]
      text-white
      font-bold
      rounded-lg
      py-3
      px-3
  }

  .btn {
    @apply
      bg-color
      text-white
      bg-primary
      hover:bg-primary
      hover:bg-secondary
  }

  .btn--outline {
    @apply
      border
      border-solid
      border-color
      hover:bg-color
      hover:text-white
      xl:border-white
      bg-white
      text-color
      xl:bg-transparent
      xl:text-white
      xl:hover:bg-white
      xl:hover:text-primary
  }

  .btn--outline--negative {
    @apply
      border
      border-solid
      border-color
      text-color
      bg-transparent
      text-secondary
      hover:bg-secondary
      hover:text-white
  }

  .btn--outline--small,
  .btn--outline--secondary {
    @apply
      cursor-pointer
      flex
      justify-center
      border
      border-solid
      text-primary
      border-primary
      font-bold
      rounded-lg
      py-1
      px-2
      hover:bg-primary
      hover:text-white
  }

  .btn--outline--small {
    @apply
      max-h-[32px]
      text-[12px]
      max-w-[80px]
  }

  .btn--outline--secondary {
    @apply
      min-w-[220px]
      text-[16px]
      h-[48px]
      py-3
      px-4
      flex
      items-center
  }
}